<div class="container-fluid">
  <h1 style="text-align:center; font-style: bold; font-family: 'Times New Roman', Times, serif;">Dollar To Rupees</h1>
  <div class="container">
    <div class="input-group mt-4" style="width: 50%; margin: auto; justify-content: center;" >
      <input type="text" class="form-control"  placeholder="Enter Dollar Value" [(ngModel)]="dollar" >    
      <button type="button" class="btn btn-outline-success" (click)="changeToRupees()">Convert</button>
    </div>
  </div>
  <div class="input-group mt-4 container-fluid" style="width: 50%; margin: auto; justify-content: center;">
    <p>{{updated | currency:'INR'}}</p>
  </div>
  
</div>
